
*.eps
*.png
*.npy
*.pyc
.ipynb_checkpoints/basic-kmeans-1-checkpoint.ipynb
.ipynb_checkpoints/basic-kmedoids-1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
examples-vqeclass\data-analysis.eps
examples-vqeclass\data-analysis.png
examples-vqeclass\pca-figure.eps
examples-vqeclass\pca-figure.png